<div class="user-details">
  <mat-list>
    <mat-list-item class="u-text-align-center">
      <span class="mat-h2">Detalhes do usuário</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <span class="mat-h2">Nome: </span><span class="mat-h3">Kuririn</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <span class="mat-h2">E-mail: </span><span class="mat-h3">Kuririn@rapazinho.com.br</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <span class="mat-h2">Telefone: </span><span class="mat-h3">(11) 91111-1111</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <span class="mat-h2">Endereço: </span><span class="mat-h3">Rua gato das flores, 26, São Paulo - SP</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <span class="mat-h2">Ativo: </span><span class="mat-h3">Sim</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <span class="mat-h2">Função: </span><span class="mat-h3">Arteiro</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <span class="mat-h2">Data de cadastro: </span><span class="mat-h3">17/12/2025</span>
    </mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>
</div>

